.custom-btn{
    text-align: center;
    border: 2px solid var(--white);
    padding: 0.5rem;
    border-radius: 0.35rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    width: 104%;
    margin: 0.5rem;
    background-color: var(--purple);
    color: var(--white)
}
.custom-btn:hover{
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.2s;
}
