@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-family: "Inter", sans-serif;
}

.input-wrapper{
  width: 80%;
  margin-top: 4rem;
  display: block;
  margin: 0 auto;

}

.podcasts-flex{
  display: flex;
  jsutify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}

.podcast-title-heading {
  text-align: left !important;
  width: 100%;
}

.banner-wrapper {
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  height: 300px;
  width: 100%;
}

.banner-wrapper img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-radius: 1rem;
}

.podcast-description {
  color: var(--purple-grey);
  text-align: left;
  width: 100%;
}
.play-btn{
  width: 100px !important;
}
